@font-face {
	font-family: Antinoou;
	src: url('/static/fonts/antinoou-webfont.woff') format('woff');
}
div.htmlvis.analytic {
	font-family: Antinoou, sans-serif; width: 500px; white-space: normal !important;
}

div.htmlvis.analytic .entity_list {background-color:#ffffb4; font-style: italic; width: 100%; margin-bottom: 3px}
div.htmlvis.analytic .entity_list:before {content: "Named entities: "; font-weight: bold; font-style: normal}
div.htmlvis.analytic .norm { white-space: inherit; }
div.htmlvis.analytic .norm:after {content: " ";}
div.htmlvis.analytic .named {display:inline-block}
div.htmlvis.analytic .entity {display:inline-block;border: 1px solid; margin-right: 2px; margin-left: 2px;padding-right:3px; margin-bottom: 2px; margin-top: 2px;}
div.htmlvis.analytic .named > .entity {border-style: solid !important; background-color: rgba(255, 240, 6, 0.5);} /*outline: 1px solid; outline-offset:-3px; */
div.htmlvis.analytic .entity[entity_type="person"] {border-color: blue !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="place"] {border-color: red !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="abstract"] {border-color: cyan !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="object"] {border-color: green !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="time"] {border-color: pink !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="event"] {border-color: gold !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="substance"] {border-color: purple !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="organization"] {border-color: brown !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="animal"] {border-color: orange !important;outline-color: black !important}
div.htmlvis.analytic .entity[entity_type="plant"] {border-color: magenta !important;outline-color:  black !important}
div.htmlvis.analytic .entity[entity_type="person"]:before {font-family: FontAwesome; color: gray; content: "\f183"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="place"]:before {font-family: FontAwesome; color: gray; content: "\f041"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="abstract"]:before {font-family: FontAwesome; color: gray; content: "\f0c2"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="object"]:before {font-family: FontAwesome; color: gray; content: "\f1b2"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="time"]:before {font-family: FontAwesome; color: gray; content: "\f017"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="event"]:before {font-family: FontAwesome; color: gray; content: "\f0f3"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="substance"]:before {font-family: FontAwesome; color: gray; content: "\f0c3"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="organization"]:before {font-family: FontAwesome; color: gray; content: "\f19c"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="animal"]:before {font-family: FontAwesome; color: gray; content: "\f1b0"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .entity[entity_type="plant"]:before {font-family: FontAwesome; color: gray; content: "\f18c"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; margin-left: 2px; padding-left:1px}
div.htmlvis.analytic .identity {display: inline; padding-top: 3px;}
div.htmlvis.analytic .identity .wikify:before {font-family: FontAwesome; color: gray; content: "\f266"; vertical-align: middle; position: relative; top: -12px; font-size: 70%; margin-right: 2px; text-decoration: none} /*; top: -6px; position: relative;}*/
div.htmlvis.analytic .wikify {text-decoration: none}
div.htmlvis.analytic .wikify:hover {color:blue !important; text-decoration:underline}
div.htmlvis.analytic .wikify:hover:before {color:blue !important}

div.htmlvis.analytic .translation:after {content:"\A"attr(trans)"\A\A"; display: block;  padding-bottom: 20px; font-style: italic; color: blue; white-space: normal}
div.htmlvis.analytic .copt_word:after {content: " "; font-style: normal}
div.htmlvis.analytic .copt_word {font-style: normal}
div.htmlvis.analytic i.copt_word > ruby.norm:only-of-type:after {content: "" !important;}
div.htmlvis.analytic div > ruby.norm:after {content: "" !important;}
div.htmlvis.analytic div.entity > ruby.norm:after {content: "" !important;}
div.htmlvis.analytic div.entity > ruby.norm:last-of-type:after {content: "" !important;}
div.htmlvis.analytic i.copt_word > ruby.norm:last-of-type:after {content: "" !important;}
div.htmlvis.analytic .pos:after {color: grey; content:attr(pos);}
div.htmlvis.analytic .p:before {content:attr(n)". "; font-weight: bold}
div.htmlvis.analytic ruby {ruby-overhang: none; ruby-align: distribute-space; padding-left: 3px; padding-right:3px}
div.htmlvis.analytic ruby:hover rt:after {color:red;}
div.htmlvis.analytic ruby.norm:after {content: "";}

div.htmlvis.analytic .page:before {color: blue; font-style: italic; content: " [p. " attr(page) "] ";}
div.htmlvis.analytic .norm a {text-decoration: none !important; color:inherit}
div.htmlvis.analytic .norm a:hover {text-decoration: underline !important; color: blue}
div.htmlvis.analytic .verse {display: inline; padding-top: 6px; padding-bottom: 6px;}
div.htmlvis.analytic .verse:before {content: "(" attr(verse) ") "; font-weight:bold}
div.htmlvis.analytic .chapter {display: block; padding-top: 6px; padding-bottom: 6px; }/*text-indent: -15px; padding-left: 15px;}*/
div.htmlvis.analytic .chapter:before {display: inline-block; content: "[C." attr(chapter) "] "; font-weight:bold}
