/* styles.css appears to be generated, but we don’t have the source, so perhaps we shouldn’t extend it. */

.end-note {
    text-align: left;
    font-size: 80%;
}

.no-results {
  font-size: 20px;
  color: #361b01;
}

/* overwriting scss generated styles here */
div.search-tools-wrap{
	background: #8E463D;
}

div.tool-search-item {
	background: black;
}

.search-tools-wrap .tool-wrap .tool-head.tool-head-selected{
	background: black !important;
}

p.project-description{
	color:black;
}

p.description-text{
	color:black;
}

.tool-head{
	line-height: 1.6;
}

/* search page styles */
.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
}

.search-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.search-params {
  max-width: 230px;
  margin-right: 50px;
  padding: 10px;
  color: black;
  background-color: #e3d9d8;
}

.search-choice-field {
  width: 100%;
}


.search-results {

}

.search-results-row {
  display: flex;
}

