div.htmlvis.verses {
    font-family: Antinoou, sans-serif; 
    width: 500px; 
    white-space: normal !important;
}

div.htmlvis.verses .translation:hover {
    color: red;
}

div.htmlvis.verses .word {
    white-space: inherit;
}

div.htmlvis.verses .word:after {
    content: " ";
}

div.htmlvis.verses .page:before {
    color: blue; 
    font-style: italic; 
    content: " [" attr(page) "] ";
}

div.htmlvis.verses .norm a {
    text-decoration: none !important; 
    color: inherit;
}

div.htmlvis.verses .norm a:hover {
    text-decoration: underline !important; 
    color: blue;
}

div.htmlvis.verses div.verse {
    display: inline; 
    padding-top: 6px; 
    padding-bottom: 6px;
}

div.htmlvis.verses div.verse:before {
    content: "(" attr(verse) ") "; 
    font-weight: bold;
}

div.htmlvis.verses div.chapter {
    display: block; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    text-indent: -15px; 
    padding-left: 15px;
}

div.htmlvis.verses div.chapter:before {
    content: "Chapter " attr(chapter) ": "; 
    font-weight: bold;
}