/*
 * Coptic Styles
 * 
 * Base theme SCSS for Compass, containing pertinent
 * site variables for the segetes application 
 *
 */
/*
 * Color palette 
 *
 */
/*
 * Fonts  
 *
 * Title, body, accent
 */
@import url(/bower_components/bootstrap/dist/css/bootstrap.css);
@font-face {
  font-family: 'Glyphicons';
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot");
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/*
 * Util Mixins 
 *
 */
/*
 * Custom global styles
 */
/* line 5, ../../scss/_global.scss */
html, body, input, p, span, label {
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 17px;
  font-weight: 300;
}

/* line 8, ../../scss/_global.scss */
body {
  color: rgba(205, 193, 169, 0.15);
}

/* line 11, ../../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* line 16, ../../scss/_global.scss */
a {
  color: #222222;
  text-decoration: none;
}
/* line 19, ../../scss/_global.scss */
a:hover {
  color: #222222;
  text-decoration: none;
}

/* line 25, ../../scss/_global.scss */
li {
  list-style: none;
}

/* line 29, ../../scss/_global.scss */
.one-third {
  width: 33%;
}

/* line 33, ../../scss/_global.scss */
.two-thirds {
  width: 66%;
}

/* line 37, ../../scss/_global.scss */
.one-half {
  width: 50%;
}

/* line 41, ../../scss/_global.scss */
.full-width {
  width: 100%;
}

/* line 44, ../../scss/_global.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 49, ../../scss/_global.scss */
::selection {
  background: #dddddd;
}

/* line 52, ../../scss/_global.scss */
::-moz-selection {
  background: #dddddd;
}

/*
 * Global structure styles
 */
/* line 59, ../../scss/_global.scss */
.grid {
  width: 95%;
  clear: both;
  margin: 0 auto;
}

/* line 64, ../../scss/_global.scss */
.grid.inner {
  max-width: 1200px;
}

/* line 67, ../../scss/_global.scss */
.fixed {
  position: fixed;
}

/* line 70, ../../scss/_global.scss */
.social-wrap {
  padding: 5px;
}
/* line 72, ../../scss/_global.scss */
.social-wrap span {
  padding: 10px;
}

/* line 76, ../../scss/_global.scss */
.content.primary {
  text-align: left;
  min-height: 600px;
  margin: 0px auto 30px;
}

/*
 * Styles for navigation and header
 */
/* line 86, ../../scss/_global.scss */
ul#nav {
  -webkit-transform: translateZ(0);
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background: #361b01;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 99, ../../scss/_global.scss */
ul#nav li {
  display: inline-block;
  letter-spacing: 0.2em;
  font-size: 12px;
}
/* line 104, ../../scss/_global.scss */
ul#nav li a {
  text-decoration: none;
  padding: 0 16px;
  color: #F0D38E;
}
/* line 108, ../../scss/_global.scss */
ul#nav li a:hover {
  color: #FB3815;
}
/* line 113, ../../scss/_global.scss */
ul#nav li ul {
  margin-top: 15px;
  padding-left: 0px;
  padding-top: 20px;
  margin-left: 0px;
  display: none;
  padding-bottom: 20px;
  background-color: #361b01;
}
/* line 122, ../../scss/_global.scss */
ul#nav li ul li {
  color: #DFD1B4;
  display: block;
}
/* line 126, ../../scss/_global.scss */
ul#nav li ul li:hover {
  color: #DFD1B4;
}
/* line 130, ../../scss/_global.scss */
ul#nav li ul li a {
  line-height: 40px;
}

/* line 141, ../../scss/_global.scss */
header {
  width: 100%;
  z-index: 1000;
  position: relative;
  color: #361b01;
  -webkit-transform: translateZ(0);
}
/* line 147, ../../scss/_global.scss */
header .grid.inner {
  position: relative;
}
/* line 151, ../../scss/_global.scss */
header .header-row-top {
  background: #e3ca9c;
  background-image: url("/static/img/parchment.jpg");
  width: 100%;
  padding-top: 60px;
}
/* line 157, ../../scss/_global.scss */
header a {
  color: #361b01;
  text-decoration: none;
}
/* line 160, ../../scss/_global.scss */
header a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 164, ../../scss/_global.scss */
header a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
/* line 169, ../../scss/_global.scss */
header h3.site-title {
  color: #444;
  display: inline-block;
  float: left;
  margin: 1px;
  padding: 10px 25px;
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 30px;
  font-weight: 400;
}
/* line 177, ../../scss/_global.scss */
header img.site-title-logo {
  width: 30px;
  padding: 15px 20px;
}
/* line 182, ../../scss/_global.scss */
header nav {
  padding: 0;
  display: block;
  width: 100%;
  vertical-align: top;
  margin: 0;
}
/* line 188, ../../scss/_global.scss */
header nav a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 22px 10px;
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #361b01;
}
/* line 200, ../../scss/_global.scss */
header nav a:visited {
  color: #361b01;
}
/* line 203, ../../scss/_global.scss */
header nav a:hover {
  color: #361b01;
}
/* line 207, ../../scss/_global.scss */
header nav span {
  display: block;
}
/* line 209, ../../scss/_global.scss */
header nav span:hover {
  background: #f0f0f0;
}
/* line 213, ../../scss/_global.scss */
header nav span.fa {
  font-size: 22px;
  padding-top: 22px;
  color: #361b01;
}
/* line 222, ../../scss/_global.scss */
header .header-logos {
  display: block;
  width: 100;
  margin: 0 auto 15px;
  text-align: center;
}
/* line 227, ../../scss/_global.scss */
header .header-logos .header-logo-top-wrap {
  display: inline-block;
  text-align: center;
  width: 100%;
}
/* line 231, ../../scss/_global.scss */
header .header-logos .header-logo-top-wrap .header-logo {
  display: inline-block;
}
/* line 234, ../../scss/_global.scss */
header .header-logos .header-logo-top-wrap .header-logo-center {
  padding: 0 20%;
}
/* line 238, ../../scss/_global.scss */
header .header-logos .header-logos-bottom-wrap {
  display: inline-block;
  clear: both;
  text-align: center;
  width: 100%;
}
/* line 246, ../../scss/_global.scss */
header .urn-form {
  vertical-align: top;
  display: block;
  float: right;
  width: 40%;
  margin: 5px 10px 15px;
  padding: 0;
}
/* line 254, ../../scss/_global.scss */
header .urn-form input {
  width: 60%;
  padding: 12px;
  background: #fff;
  float: right;
  border: none;
  outline: none;
  vertical-align: top;
  display: inline-block;
}
/* line 265, ../../scss/_global.scss */
header .urn-form span {
  float: right;
  width: 5%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 11px 10px !important;
  font-size: 22px !important;
  background: #361b01;
  color: #fff !important;
}

/* line 284, ../../scss/_global.scss */
.side-menu-panel {
  position: fixed;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  left: -200px;
  top: 0px;
  background: #333;
  color: white;
  height: 100%;
  display: block;
  z-index: 99;
  width: 200px;
  font-size: 18px;
  -webkit-transition: left 100ms ease-out 0;
  -moz-transition: left 100ms ease-out 0;
  -o-transition: left 100ms ease-out 0;
  transition: left 100ms ease-out 0;
  -webkit-transform: translateZ(0);
}
/* line 300, ../../scss/_global.scss */
.side-menu-panel ul {
  padding: 0;
}
/* line 303, ../../scss/_global.scss */
.side-menu-panel li {
  display: block;
}
/* line 306, ../../scss/_global.scss */
.side-menu-panel a {
  display: block;
  padding: 10px 5px 10px 30px;
  width: 100%;
  color: white;
}
/* line 312, ../../scss/_global.scss */
.side-menu-panel a:hover {
  text-decoration: none;
  background: #444;
}
/* line 317, ../../scss/_global.scss */
.side-menu-panel ul ul a {
  padding: 7px 5px 7px 50px;
  font-size: 16px;
}
/* line 321, ../../scss/_global.scss */
.side-menu-panel .fa {
  margin: 0 10px 0 0;
}

/* line 325, ../../scss/_global.scss */
.side-menu-panel.shown {
  left: 0;
}

/* line 328, ../../scss/_global.scss */
.headroom {
  transition: transform 00ms linear;
}

/* line 331, ../../scss/_global.scss */
.headroom--pinned {
  transition: transform 200ms linear;
  transform: translateY(0%) translateZ(0);
}

/* line 335, ../../scss/_global.scss */
.headroom--unpinned {
  transform: translateY(-100%) translateZ(0);
}

/* line 338, ../../scss/_global.scss */
.header-hidden.headroom--pinned {
  position: absolute;
  top: 0;
  transition: transform 200ms linear;
  transform: translateY(0%) translateZ(0);
}

/* line 344, ../../scss/_global.scss */
.header-hidden.headroom--unpinned {
  position: absolute;
  top: 0;
  transform: translateY(0%) translateZ(0);
}

/* line 349, ../../scss/_global.scss */
input::-webkit-input-placeholder {
  color: #aaa;
}

/* line 353, ../../scss/_global.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
}

/* line 357, ../../scss/_global.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}

/* line 361, ../../scss/_global.scss */
input:-ms-input-placeholder {
  color: #aaa;
}

/*
 * Footer 
 */
/* line 368, ../../scss/_global.scss */
footer {
  clear: both;
  background-color: #361b01;
  color: white;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 150px;
}
/* line 379, ../../scss/_global.scss */
footer a {
  color: #EFC17E;
  font-size: 14px;
}
/* line 384, ../../scss/_global.scss */
footer a:hover {
  color: #AE2124;
}
/* line 387, ../../scss/_global.scss */
footer a:visited {
  color: #EFC17E;
}
/* line 389, ../../scss/_global.scss */
footer a:visited:hover {
  color: #AE2124;
}
/* line 393, ../../scss/_global.scss */
footer a.github {
  background: url("http://copticscriptorium.org/img/GitHub-Mark-Light-64px.png") no-repeat;
  background-size: 19px 19px;
  padding-left: 25px;
}
/* line 398, ../../scss/_global.scss */
footer a.twitter {
  background: url("http://copticscriptorium.org/img/newsociallogo.png") no-repeat;
  background-size: 19px 19px;
  padding-left: 25px;
}
/* line 406, ../../scss/_global.scss */
footer .footer-text {
  margin: 10px auto;
  display: inline-block;
  width: 90%;
  font-size: 14px;
  line-height: 20px;
}
/* line 413, ../../scss/_global.scss */
footer .footer-text p {
  color: white;
  font-size: 14px;
}
/* line 418, ../../scss/_global.scss */
footer .footer-text .site-title {
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 20px 0 0px 0px;
  padding: 0;
}
/* line 424, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1, footer .footer-text .footer-text-column-2 {
  margin-top: 30px;
}
/* line 429, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 a {
  color: white;
}
/* line 435, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul {
  padding: 0;
  margin: 0 0 0 0;
}
/* line 438, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li {
  display: inline-block;
}
/* line 440, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li a {
  display: block;
  margin: 5px;
  padding: 20px;
  font-size: 22px;
}
/* line 445, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li a:hover {
  color: #dddddd;
}
/* line 454, ../../scss/_global.scss */
footer .footer-text .footer-text-column-2 .social-wrap {
  margin: 10px 0;
  padding: 0;
}
/* line 457, ../../scss/_global.scss */
footer .footer-text .footer-text-column-2 .social-wrap span {
  color: white;
  font-size: 24px;
  padding: 10px;
}
/* line 466, ../../scss/_global.scss */
footer .footer-text .copyright {
  clear: both;
  display: block;
  color: white;
  font-size: 14px;
  margin: 30px 0;
}
/* line 472, ../../scss/_global.scss */
footer .footer-text .copyright a {
  color: white;
}
/* line 474, ../../scss/_global.scss */
footer .footer-text .copyright a:hover {
  text-decoration: none;
}
/* line 481, ../../scss/_global.scss */
footer .footer-logos-wrap {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
/* line 485, ../../scss/_global.scss */
footer .footer-logos-wrap .footer-logo {
  display: inline-block;
  width: 6%;
  height: auto;
  margin: 5px;
}
/* line 491, ../../scss/_global.scss */
footer .footer-logos-wrap .footer-logo.neh-logo {
  width: 30%;
}

/*
 * Styles for Dropdowns
 */
/* line 502, ../../scss/_global.scss */
.dropdown {
  position: relative;
}
/* line 505, ../../scss/_global.scss */
.dropdown .dropdown-head {
  cursor: pointer;
}
/* line 507, ../../scss/_global.scss */
.dropdown .dropdown-head label, .dropdown .dropdown-head .dropdown-arrow {
  cursor: pointer;
}
/* line 512, ../../scss/_global.scss */
.dropdown .dropdown-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 518, ../../scss/_global.scss */
.dropdown .dropdown-panel.lowered {
  display: block !important;
}

/* line 522, ../../scss/_global.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 525, ../../scss/_global.scss */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 528, ../../scss/_global.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 531, ../../scss/_global.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 536, ../../scss/_global.scss */
#loading_modal {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: rgba(227, 202, 156, 0.88);
}
/* line 545, ../../scss/_global.scss */
#loading_modal .loading-modal-inner {
  display: block;
  width: 50%;
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}
/* line 552, ../../scss/_global.scss */
#loading_modal .loading-modal-inner img {
  margin: 0 auto;
}
/* line 555, ../../scss/_global.scss */
#loading_modal .loading-modal-inner span {
  margin-top: 60px;
  display: inline-block;
  font-size: 64px;
  color: #361b01;
}

/* line 1, ../../scss/_single.scss */
.text-subwork.single-header {
  background: #fff;
  border-bottom: none !important;
  border-top: 1px solid #361b01;
  width: 96%;
  padding: 15px 2% 10px;
  position: relative;
  margin-top: 30px;
  z-index: 1;
}
/* line 10, ../../scss/_single.scss */
.text-subwork.single-header .item-title-wrap {
  display: block;
  width: auto;
}
/* line 14, ../../scss/_single.scss */
.text-subwork.single-header .html-wrap {
  width: auto;
}
/* line 17, ../../scss/_single.scss */
.text-subwork.single-header .version-label {
  display: none;
}
/* line 20, ../../scss/_single.scss */
.text-subwork.single-header .item-title {
  font-size: 32px;
}
/* line 23, ../../scss/_single.scss */
.text-subwork.single-header .version-wrap {
  margin: 12px auto;
}
/* line 25, ../../scss/_single.scss */
.text-subwork.single-header .version-wrap.information-tab-wrap {
  display: inline-block;
}
/* line 29, ../../scss/_single.scss */
.text-subwork.single-header .close-selected-text {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 0px;
  right: 0px;
  padding: 20px 40px;
}
/* line 37, ../../scss/_single.scss */
.text-subwork.single-header .close-selected-text:hover {
  color: #361b01;
}

/* line 43, ../../scss/_single.scss */
.selected-text-wrap {
  background: #fff;
  border-bottom: 1px solid #361b01;
  border-left: 1px solid #361b01;
  border-right: 1px solid #361b01;
  width: 94%;
  margin: 0 auto;
  padding: 15px 3% 20px;
  color: #222222;
}
/* line 52, ../../scss/_single.scss */
.selected-text-wrap h3 {
  margin: 0;
  padding: 10px 0;
}
/* line 56, ../../scss/_single.scss */
.selected-text-wrap .coptic-text {
  width: 98%;
  margin: 0 auto;
}
/* line 60, ../../scss/_single.scss */
.selected-text-wrap .text-format {
  margin: 20px auto;
}

/* line 65, ../../scss/_single.scss */
.single {
  padding: 50px 0;
}

/* line 68, ../../scss/_single.scss */
.single h1.title {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
}

/* line 73, ../../scss/_single.scss */
.page-tabs {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 77, ../../scss/_single.scss */
.page-tabs a {
  padding: 7px 12px;
  margin: 5px 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  background: #361b01;
  color: white;
}
/* line 86, ../../scss/_single.scss */
.page-tabs a:hover {
  background: #361b01;
}
/* line 89, ../../scss/_single.scss */
.page-tabs a.selected-text-type {
  background: #361b01;
}
/* line 92, ../../scss/_single.scss */
.page-tabs a.external {
  background: transparent;
  color: #444;
}
/* line 95, ../../scss/_single.scss */
.page-tabs a.external:hover {
  color: #222;
}
/* line 99, ../../scss/_single.scss */
.page-tabs a .fa-external-link {
  padding: 0px 0 2px 5px;
  font-size: 10px;
  vertical-align: bottom;
}

/* line 108, ../../scss/_single.scss */
.single .page-content {
  width: 90%;
  margin: 0 auto;
}
/* line 111, ../../scss/_single.scss */
.single .page-content .text-format {
  padding: 10px 0;
}
/* line 116, ../../scss/_single.scss */
.single .page-content h3.subtitle {
  margin: 30px 0;
}
/* line 119, ../../scss/_single.scss */
.single .page-content .html {
  width: 99%;
  margin: 0 auto;
}

/* line 124, ../../scss/_single.scss */
.citation-help {
  margin: 20px auto;
}
/* line 126, ../../scss/_single.scss */
.citation-help h3.subtitle {
  margin: 10px 0 20px;
}
/* line 129, ../../scss/_single.scss */
.citation-help p {
  width: 98%;
  margin: 5px auto 15px;
  font-size: 14px;
}
/* line 134, ../../scss/_single.scss */
.citation-help a {
  text-decoration: underline;
}
/* line 137, ../../scss/_single.scss */
.citation-help .label {
  font-weight: bold;
}

/* line 141, ../../scss/_single.scss */
.meta-item {
  width: 43.5%;
  display: inline-block;
  vertical-align: top;
  margin: 5px 4% 5px 1%;
  font-size: 14px;
}
/* line 148, ../../scss/_single.scss */
.meta-item .meta-label {
  font-weight: bold;
}

/* line 156, ../../scss/_single.scss */
.v-panel {
  position: relative !important;
}

/* line 1, ../../scss/_index.scss */
.text-work {
  width: 100%;
  clear: both;
  display: block;
  text-align: left;
  margin: 0px auto;
  padding: 10px 0 0;
}
/* line 8, ../../scss/_index.scss */
.text-work .work-title-wrap {
  width: 98%;
  padding: 15px 1%;
  border-bottom: 3px solid #361b01;
}
/* line 14, ../../scss/_index.scss */
.text-work h2.work-title {
  margin: 20px 0 0px;
  display: inline-block;
  font-size: 28px;
  color: #361b01;
}
/* line 21, ../../scss/_index.scss */
.text-work .work-title-urn {
  display: inline-block;
  font-size: 20px;
  color: #361b01;
  padding: 5px 10px;
}

/* line 30, ../../scss/_index.scss */
.text-subwork {
  width: 97.8%;
  vertical-align: top;
  margin: 0;
  padding: 15px 1% 10px;
  border-bottom: 1px solid #361b01;
  border-left: 1px solid #361b01;
  border-right: 1px solid #361b01;
  display: inline-block;
  background: #fff;
  -webkit-box-shadow: white 0px 2px 5px;
  -moz-box-shadow: white 0px 2px 5px;
  box-shadow: white 0px 2px 5px;
  -webkit-transition: all 50ms linear 0;
  -moz-transition: all 50ms linear 0;
  -o-transition: all 50ms linear 0;
  transition: all 50ms linear 0;
}
/* line 44, ../../scss/_index.scss */
.text-subwork:hover {
  background: #fff;
}
/* line 46, ../../scss/_index.scss */
.text-subwork:hover .item-title-wrap {
  color: #1d1810;
}
/* line 49, ../../scss/_index.scss */
.text-subwork:hover .item-title {
  color: #1d1810;
}

/* line 56, ../../scss/_index.scss */
.item-title-wrap {
  padding: 2px 10px 5px 5px;
  color: #361b01;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
}

/* line 64, ../../scss/_index.scss */
.text-item {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  padding: 15px 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/* line 72, ../../scss/_index.scss */
.text-item.author {
  width: 100%;
  padding: 5px 0px 0;
}
/* line 76, ../../scss/_index.scss */
.text-item.item-title {
  color: #361b01;
  width: 100%;
  padding: 8px 0;
  font-family: asul, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 100;
}

/* line 84, ../../scss/_index.scss */
.close-selected-text {
  display: none;
  color: #361b01;
}

/* line 88, ../../scss/_index.scss */
.version-wrap {
  margin: 0px auto;
  padding: 0px 0;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}
/* line 95, ../../scss/_index.scss */
.version-wrap .version-label {
  display: inline-block;
  padding: 10px 0;
  font-size: 14px;
  color: #361b01;
}
/* line 103, ../../scss/_index.scss */
.version-wrap.page-tabs a span {
  font-size: 12px;
}
/* line 107, ../../scss/_index.scss */
.version-wrap.information-tab-wrap {
  display: none;
}

/* line 111, ../../scss/_index.scss */
.html-wrap {
  width: 43%;
}

/* line 114, ../../scss/_index.scss */
.other-versions-wrap {
  width: 28%;
}

/* line 118, ../../scss/_index.scss */
a.text-item:hover {
  text-decoration: none;
}
/* line 121, ../../scss/_index.scss */
a.text-item:focus {
  text-decoration: none;
}

/* line 125, ../../scss/_index.scss */
.search-tools-wrap {
  clear: both;
  display: block;
  width: 100%;
  background: #361b01;
  position: relative;
  text-align: left;
}
/* line 133, ../../scss/_index.scss */
.search-tools-wrap .search-tools {
  width: 90%;
  margin: 0 auto;
}
/* line 138, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
}
/* line 143, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head {
  display: block;
  padding: 15px 5px 15px 20px;
  cursor: pointer;
  border-right: 1px solid white;
}
/* line 149, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head:first-child {
  border-left: 1px solid white;
}
/* line 153, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head:hover {
  background: #361b01;
}
/* line 157, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head.tool-head-selected {
  background: #361b01;
}
/* line 159, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head.tool-head-selected span {
  color: #fff;
}
/* line 165, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head span {
  display: inline-block;
  vertical-align: top;
}
/* line 170, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head .tool-text {
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 178, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap .tool-head .fa-chevron-down {
  font-size: 14px;
  color: #fff;
  padding: 2px 10px;
}
/* line 185, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap.input-tool-wrap {
  width: 30%;
  margin-right: 2%;
  display: none;
}
/* line 191, ../../scss/_index.scss */
.search-tools-wrap .tool-wrap.author-tool-wrap {
  border-left: 1px solid white;
}
/* line 197, ../../scss/_index.scss */
.search-tools-wrap input {
  margin: 5px 0;
  padding: 12px;
  width: 70%;
  background: #eee;
  border: none;
  outline: none;
}
/* line 208, ../../scss/_index.scss */
.search-tools-wrap input.with-coptic {
  font-family: antinoouRegular, sans-serif;
}
/* line 214, ../../scss/_index.scss */
.search-tools-wrap .fa-keyboard-o {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  padding: 10px 10px;
  font-size: 24px;
  color: #fff;
}
/* line 222, ../../scss/_index.scss */
.search-tools-wrap .fa-keyboard-o:hover {
  color: #eee;
}
/* line 226, ../../scss/_index.scss */
.search-tools-wrap .fa-keyboard-o.keys-shown {
  background: #e3ca9c;
  color: #361b01;
}

/* line 233, ../../scss/_index.scss */
.tool-panel {
  position: absolute;
  z-index: 99;
  left: 0;
  width: 90%;
  padding: 20px 5%;
  margin: 0 auto;
  background: #e3ca9c;
  transform: translateY(100%) translateZ(0);
  bottom: 0;
}
/* line 243, ../../scss/_index.scss */
.tool-panel .tool-search-item {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background: #361b01;
  color: #fff;
}
/* line 252, ../../scss/_index.scss */
.tool-panel .tool-search-item.selected {
  color: #361b01;
  background: rgba(240, 240, 240, 0.85);
}
/* line 257, ../../scss/_index.scss */
.tool-panel .raise-dropdowns {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  background: #361b01;
  color: #fff;
  padding: 5px;
}

/* line 268, ../../scss/_index.scss */
.advanced-search-tool-panel {
  z-index: 99;
}
/* line 271, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-wrap {
  display: inline-block;
}
/* line 275, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-head {
  display: inline-block;
  padding: 5px 15px;
  margin: 2px;
  background: #361b01;
  cursor: pointer;
  color: #fff;
}
/* line 282, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-head:hover {
  background: #361b01;
}
/* line 285, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-head.advanced-search-tool-head-selected {
  color: #361b01;
  background: rgba(250, 250, 250, 0.8);
}
/* line 290, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-head .fa {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  padding: 5px;
}
/* line 297, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-sub-tool-panel {
  position: absolute;
  transform: translateY(100%) translateZ(0);
  bottom: 0;
  left: 0;
  width: 91%;
  padding: 20px 5.5%;
  margin: 0px auto;
  background: #361b01;
}
/* line 307, ../../scss/_index.scss */
.advanced-search-tool-panel .advanced-search-tool-search-item {
  display: inline-block;
}

/* line 312, ../../scss/_index.scss */
.keyboard {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
/* line 317, ../../scss/_index.scss */
.keyboard .key {
  font-size: 30px;
  line-height: 60px;
  padding: 5px 20px;
  font-family: antinoouRegular, sans-serif;
  width: 500px;
  white-space: normal !important;
  border: 1px solid #361b01;
  background: rgba(255, 255, 255, 0.96);
  cursor: pointer;
}
/* line 325, ../../scss/_index.scss */
.keyboard .key:hover {
  background: rgba(245, 245, 245, 0.98);
}
/* line 329, ../../scss/_index.scss */
.keyboard .key.space {
  width: 80%;
  max-width: 400px;
  display: inline-block;
  height: 30px;
  margin: 10px;
}

/* line 339, ../../scss/_index.scss */
.filters-wrap {
  display: block;
  width: 100%;
}
/* line 342, ../../scss/_index.scss */
.filters-wrap .filters-wrap-inner {
  width: 95%;
  margin: 0 auto;
}
/* line 346, ../../scss/_index.scss */
.filters-wrap h4.subtitle {
  font-size: 20px;
  display: inline-block;
  color: #361b01;
}
/* line 351, ../../scss/_index.scss */
.filters-wrap .filter-item {
  padding: 4px 12px;
  margin: 2px 5px 6px;
  color: #fff;
  background: #361b01;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 359, ../../scss/_index.scss */
.filters-wrap .filter-item span {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}
/* line 364, ../../scss/_index.scss */
.filters-wrap .filter-item .filter-text {
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}
/* line 369, ../../scss/_index.scss */
.filters-wrap .filter-item .fa {
  padding: 6px 5px;
  font-size: 12px;
  float: right;
}

@font-face {
  font-family: 'antinoouRegular';
  src: url("/static/fonts/antinoou-webfont.eot");
  src: url("/static/fonts/antinoou-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/antinoou-webfont.woff") format("woff"), url("/static/fonts/antinoou-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antinoouItalic';
  src: url("/static/fonts/antinoouitalic-webfont.eot");
  src: url("/static/fonts/antinoouitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/antinoouitalic-webfont.woff") format("woff"), url("/static/fonts/antinoouitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../../scss/_text.scss */
div.htmlvis span {
  font-family: antinoouRegular, sans-serif;
  width: 500px;
  white-space: normal !important;
}

/* line 27, ../../scss/_text.scss */
.normalized {
  /*#.line{display: block; white-space:nowrap; }
  #.line:before{content:attr(line)": ";}*/
  /*#.rend{font-size: x-large;}
  #.person{color:red;}
  .place{color:blue;}*/
}
/* line 28, ../../scss/_text.scss */
.normalized div.htmlvis span {
  font-family: antinoouRegular, sans-serif;
  width: 500px;
  white-space: normal !important;
}
/* line 33, ../../scss/_text.scss */
.normalized .translation:hover {
  color: red;
}
/* line 37, ../../scss/_text.scss */
.normalized .word {
  white-space: inherit;
}
/* line 38, ../../scss/_text.scss */
.normalized .word:after {
  content: " ";
}
/* line 39, ../../scss/_text.scss */
.normalized .norm {
  text-indent: -5px;
  text-align: left;
}
/* line 40, ../../scss/_text.scss */
.normalized .page:before {
  color: blue;
  font-style: italic;
  content: " [" attr(page) "] ";
}

/* line 45, ../../scss/_text.scss */
.diplomatic {
  /*.pb:before{content:attribute(caption)}*/
}
/* line 47, ../../scss/_text.scss */
.diplomatic .htmlvis {
  font-family: antinoouRegular, sans-serif;
  counter-reset: line 0;
}
/* line 51, ../../scss/_text.scss */
.diplomatic div.copt_line[line="1"] {
  text-indent: 20px;
}
/* line 52, ../../scss/_text.scss */
.diplomatic div.copt_line[line="2"] {
  text-indent: 20px;
}
/* line 53, ../../scss/_text.scss */
.diplomatic div.copt_line[line="3"] {
  text-indent: 20px;
}
/* line 54, ../../scss/_text.scss */
.diplomatic div.copt_line[line="4"] {
  text-indent: 20px;
}
/* line 55, ../../scss/_text.scss */
.diplomatic div.copt_line[line="5"]:before {
  content: attr(line) " ";
}
/* line 56, ../../scss/_text.scss */
.diplomatic div.copt_line[line="5"] {
  text-indent: 10px;
}
/* line 57, ../../scss/_text.scss */
.diplomatic div.copt_line[line="6"] {
  text-indent: 20px;
}
/* line 58, ../../scss/_text.scss */
.diplomatic div.copt_line[line="7"] {
  text-indent: 20px;
}
/* line 59, ../../scss/_text.scss */
.diplomatic div.copt_line[line="8"] {
  text-indent: 20px;
}
/* line 60, ../../scss/_text.scss */
.diplomatic div.copt_line[line="9"] {
  text-indent: 20px;
}
/* line 61, ../../scss/_text.scss */
.diplomatic div.copt_line[line="10"]:before {
  content: attr(line) " ";
}
/* line 62, ../../scss/_text.scss */
.diplomatic div.copt_line[line="11"] {
  text-indent: 20px;
}
/* line 63, ../../scss/_text.scss */
.diplomatic div.copt_line[line="12"] {
  text-indent: 20px;
}
/* line 64, ../../scss/_text.scss */
.diplomatic div.copt_line[line="13"] {
  text-indent: 20px;
}
/* line 65, ../../scss/_text.scss */
.diplomatic div.copt_line[line="14"] {
  text-indent: 20px;
}
/* line 66, ../../scss/_text.scss */
.diplomatic div.copt_line[line="15"]:before {
  content: attr(line) " ";
}
/* line 67, ../../scss/_text.scss */
.diplomatic div.copt_line[line="16"] {
  text-indent: 20px;
}
/* line 68, ../../scss/_text.scss */
.diplomatic div.copt_line[line="17"] {
  text-indent: 20px;
}
/* line 69, ../../scss/_text.scss */
.diplomatic div.copt_line[line="18"] {
  text-indent: 20px;
}
/* line 70, ../../scss/_text.scss */
.diplomatic div.copt_line[line="19"] {
  text-indent: 20px;
}
/* line 71, ../../scss/_text.scss */
.diplomatic div.copt_line[line="20"]:before {
  content: attr(line) " ";
}
/* line 72, ../../scss/_text.scss */
.diplomatic div.copt_line[line="21"] {
  text-indent: 20px;
}
/* line 73, ../../scss/_text.scss */
.diplomatic div.copt_line[line="22"] {
  text-indent: 20px;
}
/* line 74, ../../scss/_text.scss */
.diplomatic div.copt_line[line="23"] {
  text-indent: 20px;
}
/* line 75, ../../scss/_text.scss */
.diplomatic div.copt_line[line="24"] {
  text-indent: 20px;
}
/* line 76, ../../scss/_text.scss */
.diplomatic div.copt_line[line="25"]:before {
  content: attr(line) " ";
}
/* line 77, ../../scss/_text.scss */
.diplomatic div.copt_line[line="26"] {
  text-indent: 20px;
}
/* line 78, ../../scss/_text.scss */
.diplomatic div.copt_line[line="27"] {
  text-indent: 20px;
}
/* line 79, ../../scss/_text.scss */
.diplomatic div.copt_line[line="28"] {
  text-indent: 20px;
}
/* line 80, ../../scss/_text.scss */
.diplomatic div.copt_line[line="29"] {
  text-indent: 20px;
}
/* line 81, ../../scss/_text.scss */
.diplomatic div.copt_line[line="30"]:before {
  content: attr(line) " ";
}
/* line 82, ../../scss/_text.scss */
.diplomatic div.copt_line[line="31"] {
  text-indent: 20px;
}
/* line 83, ../../scss/_text.scss */
.diplomatic div.copt_line[line="32"] {
  text-indent: 20px;
}
/* line 84, ../../scss/_text.scss */
.diplomatic div.copt_line[line="33"] {
  text-indent: 20px;
}
/* line 85, ../../scss/_text.scss */
.diplomatic div.copt_line[line="34"] {
  text-indent: 20px;
}
/* line 86, ../../scss/_text.scss */
.diplomatic div.copt_line[line="35"]:before {
  content: attr(line) " ";
}
/* line 87, ../../scss/_text.scss */
.diplomatic div.copt_line[line="36"] {
  text-indent: 20px;
}
/* line 88, ../../scss/_text.scss */
.diplomatic div.copt_line[line="37"] {
  text-indent: 20px;
}
/* line 89, ../../scss/_text.scss */
.diplomatic div.copt_line[line="38"] {
  text-indent: 20px;
}
/* line 90, ../../scss/_text.scss */
.diplomatic div.copt_line[line="39"] {
  text-indent: 20px;
}
/* line 91, ../../scss/_text.scss */
.diplomatic div.copt_line[line="40"]:before {
  content: attr(line) " ";
}
/* line 92, ../../scss/_text.scss */
.diplomatic div.copt_line[line="41"] {
  text-indent: 20px;
}
/* line 93, ../../scss/_text.scss */
.diplomatic div.copt_line[line="42"] {
  text-indent: 20px;
}
/* line 94, ../../scss/_text.scss */
.diplomatic div.copt_line[line="43"] {
  text-indent: 20px;
}
/* line 95, ../../scss/_text.scss */
.diplomatic div.copt_line[line="44"] {
  text-indent: 20px;
}
/* line 96, ../../scss/_text.scss */
.diplomatic div.copt_line[line="45"]:before {
  content: attr(line) " ";
}
/* line 97, ../../scss/_text.scss */
.diplomatic div.copt_line[line="46"] {
  text-indent: 20px;
}
/* line 98, ../../scss/_text.scss */
.diplomatic div.copt_line[line="47"] {
  text-indent: 20px;
}
/* line 99, ../../scss/_text.scss */
.diplomatic div.copt_line[line="48"] {
  text-indent: 20px;
}
/* line 100, ../../scss/_text.scss */
.diplomatic div.copt_line[line="49"] {
  text-indent: 20px;
}
/* line 101, ../../scss/_text.scss */
.diplomatic div.copt_line[line="50"]:before {
  content: attr(line) " ";
}
/* line 102, ../../scss/_text.scss */
.diplomatic div.copt_line[line="3"]:first-child {
  padding-top: 50px;
}
/* line 103, ../../scss/_text.scss */
.diplomatic .pb {
  border-style: solid;
}
/* line 105, ../../scss/_text.scss */
.diplomatic td {
  vertical-align: top;
  counter-reset: line 0;
  width: 160px;
  min-width: 160px;
}
/* line 106, ../../scss/_text.scss */
.diplomatic caption {
  caption-side: top;
}
/* line 107, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=superscript] {
  vertical-align: super;
  font-size: 80%;
}
/* line 108, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=subscript] {
  vertical-align: sub;
  font-size: 80%;
}
/* line 109, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=red] {
  color: red;
}
/* line 110, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=blue] {
  color: blue;
}
/* line 111, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=brown] {
  color: brown;
}
/* line 112, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=tall] {
  font-size: 120%;
}
/* line 113, ../../scss/_text.scss */
.diplomatic hi_rend[rend*=extralarge] {
  font-size: 160%;
}

/* line 116, ../../scss/_text.scss */
.analytic {
  /*.translation:before{display: block}*/
  /*.copt_word{ white-space: inherit; display: block;}*/
  /*ruby.rnorm:after{margin-left:auto; margin-right:auto; content: "|";}*/
  /*.norm:last-of-type:after{content: "";}*/
  /*.pos:after:hover{color:red;}*/
}
/* line 117, ../../scss/_text.scss */
.analytic div.htmlvis {
  font-family: antinoouRegular, sans-serif;
  width: 500px;
  white-space: normal !important;
}
/* line 121, ../../scss/_text.scss */
.analytic div.translation:after {
  content: "\A" attr(trans) "\A\A";
  display: block;
  padding-bottom: 20px;
  font-style: italic;
  color: blue;
  white-space: normal;
}
/* line 123, ../../scss/_text.scss */
.analytic .copt_word:after {
  content: " ";
}
/* line 125, ../../scss/_text.scss */
.analytic span > ruby.norm:only-of-type:after {
  content: "" !important;
}
/* line 126, ../../scss/_text.scss */
.analytic div > ruby.norm:after {
  content: "" !important;
}
/* line 127, ../../scss/_text.scss */
.analytic span > ruby.norm:last-of-type:after {
  content: "" !important;
}
/* line 129, ../../scss/_text.scss */
.analytic .pos:after {
  color: grey;
  content: attr(pos);
}
/* line 131, ../../scss/_text.scss */
.analytic .p:before {
  content: attr(n) ". ";
  font-weight: bold;
}
/* line 132, ../../scss/_text.scss */
.analytic ruby {
  ruby-overhang: none;
  ruby-align: distribute-space;
  padding-left: 3px;
  padding-right: 3px;
}
/* line 133, ../../scss/_text.scss */
.analytic ruby:hover rt:after {
  color: red;
}
/* line 134, ../../scss/_text.scss */
.analytic ruby.norm:after {
  content: "|";
}

@media (max-width: 1400px) {
  /* line 3, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap.input-tool-wrap {
    width: 29%;
    margin-right: 2%;
  }

  /* line 7, ../../scss/_responsive.scss */
  .search-tools-wrap input {
    width: 60%;
  }

  /* line 11, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head {
    padding: 15px 10px;
  }
  /* line 13, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head span.tool-text {
    font-size: 12px;
    padding: 5px 0;
  }
  /* line 17, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head span.fa {
    font-size: 12px;
    padding: 5px 2px;
  }
}
@media (max-width: 1100px) {
  /* line 27, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head span.tool-text {
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  /* line 35, ../../scss/_responsive.scss */
  .item-title-wrap {
    width: 98%;
  }

  /* line 38, ../../scss/_responsive.scss */
  .html-wrap {
    width: auto;
    padding-left: 10px;
  }

  /* line 42, ../../scss/_responsive.scss */
  .other-versions-wrap {
    width: auto;
    padding-left: 30px;
  }

  /* line 46, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap.input-tool-wrap {
    width: 100%;
    margin-right: 2%;
    margin-top: 7px;
  }

  /* line 51, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head:first-child {
    border-left: none;
  }

  /* line 54, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head {
    border-right: none;
  }
}
@media (max-width: 900px) {
  /* line 60, ../../scss/_responsive.scss */
  .search-tools-wrap input {
    width: 50%;
  }

  /* line 63, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap .tool-head {
    border: none;
  }

  /* line 66, ../../scss/_responsive.scss */
  .search-tools-wrap .tool-wrap.author-tool-wrap {
    border: none;
  }

  /* line 69, ../../scss/_responsive.scss */
  header .header-logos .header-logo-top-wrap .header-logo-center {
    padding: 0 5%;
  }
}
@media (max-width: 800px) {
  /* line 75, ../../scss/_responsive.scss */
  .keyboard .key {
    font-size: 20px;
    line-height: 45px;
    padding: 5px 10px;
  }

  /* line 80, ../../scss/_responsive.scss */
  .keyboard .key.space {
    width: 40%;
    height: 20px;
  }

  /* line 84, ../../scss/_responsive.scss */
  .header-logo-bottom-wrap {
    width: 100%;
  }
  /* line 86, ../../scss/_responsive.scss */
  .header-logo-bottom-wrap img {
    width: 90%;
  }
}
@media (max-width: 600px) {
  /* line 93, ../../scss/_responsive.scss */
  .other-versions-wrap {
    padding-left: 10px;
  }

  /* line 96, ../../scss/_responsive.scss */
  header .header-logos .header-logo-top-wrap .header-logo {
    width: 25%;
  }

  /* line 99, ../../scss/_responsive.scss */
  header .header-logos .header-logo-top-wrap .header-logo-center {
    width: 10%;
  }

  /* line 102, ../../scss/_responsive.scss */
  header .header-row-top {
    padding-top: 70px;
  }
}
@media (max-width: 500px) {
  /* line 108, ../../scss/_responsive.scss */
  header .urn-form input {
    width: 80%;
  }

  /* line 111, ../../scss/_responsive.scss */
  header .urn-form {
    width: 95%;
  }
}
