# Mac files
.DS_Store

# --------------------
# Bower Files
# --------------------
*/.bower-*/
#*/bower_components

# --------------------
# App Files
# --------------------
*/test/coverage/
*/modules/public/
*/modules/views/
*/public/build/
*/min/
sitemap.xml
*sitemap.xml
**/sitemap.xml
robots.txt
*robots.txt
**/robots.txt
*.sw[po]
__pycache__
*__pycache__
**__pycache__
*settings.py
*/my.cnf
*/ghostdriver.log
*/django_logger.log
**/secrets.py
**.pyc

# --------------------
# Env Files
# --------------------
apache2
bin
lib
myproject
.idea
