server {
    listen 80;
    server_name data.copticscriptorium.org;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /var/www/cts/coptic;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/var/www/cts/coptic.sock;
    }
}