annotated-types==0.7.0
asgiref==3.8.1
camel-converter==4.0.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.2
django-cache-memoize==0.2.1
gunicorn==23.0.0
idna==3.10
meilisearch==0.34.1
mercurial==6.9.1
packaging==24.2
pydantic==2.11.3
pydantic_core==2.33.1
requests==2.32.3
rpm==4.19.1.1
sqlparse==0.5.3
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.1
urllib3==2.3.0
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl#sha256=b9235939e2096903717cb6bfc132267f8a7e46deb2ec3ef9c5e234ea301795d0
