annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
camel-converter==4.0.1
certifi==2024.12.14
charset-normalizer==3.4.1
django==5.1.5
django-cache-memoize==0.2.1
gunicorn==23.0.0
idna==3.10
meilisearch==0.33.1
packaging==24.2
pydantic==2.10.6
pydantic-core==2.27.2
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
tqdm==4.67.1
typing-extensions==4.12.2
urllib3==2.3.0
