/*
 * Custom global styles
 */

html, body, input, p, span, label {
	@include font-body; 
}
body {
	color:$parchment-light;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	@include font-title; 
}

a {
	color:$dark;
	text-decoration: none;
	&:hover {
		color:$dark;
		text-decoration: none;
	}
}

li {
	list-style:none;
}

.one-third {
	width:33%;
}

.two-thirds {
	width:66%;
}

.one-half {
	width:50%;
}

.full-width {
	width:100%;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

// Set text highlighting to accent colors
::selection {
  background: $light-1;
}
::-moz-selection {
  background: $light-1; 
}

/*
 * Global structure styles
 */
.grid {
	width:95%;
	clear:both;
	margin:0 auto;
}
.grid.inner {
	max-width:1200px;
}
.fixed {
	position:fixed;
}
.social-wrap {
	padding:5px;
	span {
		padding:10px;
	}
}
.content.primary {
	text-align:left;
	min-height:600px;
	margin:0px auto 30px;
}

/*
 * Styles for navigation and header
 */
// general navigation rules (when not fixed)
ul#nav {
	-webkit-transform: translateZ(0);
	display:inline-block;
	width:100%;
	margin:0;
	padding:10px 0;
	text-align:center;
	background:$coptic-brown;
	position:fixed;
	top:0;
	left:0;
	z-index:10000;

	li {
		display:inline-block;
		letter-spacing: 0.2em;
		font-size: 12px;

		a {
			text-decoration: none;
			padding:0 16px;
			color: #F0D38E;
			&:hover {
				color: #FB3815;
			}
		}

		ul {
			margin-top: 15px;
			padding-left: 0px;
			padding-top: 20px;
			margin-left: 0px;
			display: none;
			padding-bottom: 20px;
			background-color: $coptic-brown;

			li {
				color:#DFD1B4;
				display: block; 

				&:hover {
				    color:#DFD1B4;
				}

				a {
					line-height: 40px;
				}
			}

		}

	}
}


header {
	width:100%;
	z-index:1000;
	position:relative;
	color:$coptic-brown;
	-webkit-transform: translateZ(0);
	.grid.inner {
		position:relative;
	}

	.header-row-top {
		@include parchment;
		width:100%;
		padding-top:60px;
	}

	a {
		color:$coptic-brown;
		text-decoration: none;
		&:hover {
			color:$dark-2;
		}
	}
	a:visited {
		text-decoration: none;
		color:$dark-2;
	}

	h3.site-title {
		color:#444;
		display:inline-block;
		float:left;
		margin:1px;
		padding:10px 25px;
		@include font-accent(30px);
	}
	img.site-title-logo{
		width:30px;
		padding:15px 20px;
	}

	nav {
		padding:0;
		display:block;
		width:100%;
		vertical-align: top;
		margin:0;
		a {
			display:inline-block;
			vertical-align: middle;
			text-decoration: none;
			padding:22px 10px;
			@include font-title;
			text-transform:uppercase;
			font-size:14px;
			font-weight:400;

			color:$coptic-brown;

			&:visited{
				color:$coptic-brown;
			}
			&:hover{
				color:$coptic-brown;
			}
		}
		span {
			display:block;
			&:hover{
				background:$light-2;
			}
		}
		span.fa {
			font-size:22px;
			padding-top:22px;
			color:$coptic-brown;
			&:hover {
			}
		}
	}

	.header-logos {
		display:block;
		width:100;
		margin:0 auto 15px;
		text-align:center;
		.header-logo-top-wrap {
			display:inline-block;
			text-align:center;
			width:100%;	
			.header-logo {
				display:inline-block;
			}
			.header-logo-center {
				padding:0 20%;
			}
		}
		.header-logos-bottom-wrap {
			display:inline-block;
			clear:both;
			text-align:center;
			width:100%;	
		}
	}

	.urn-form {
		vertical-align: top;
		display:block;
		float:right;
		width:40%;
		margin:5px 10px 15px;
		padding:0;

		input {

			width:60%;
			padding:12px;
			background:#fff;
			float:right;
			border:none;
			outline:none;
			vertical-align: top;
			display:inline-block;
		}
		span {
			float:right;
			width:5%;
			text-align:center;
			vertical-align: middle;
			display:inline-block;
			cursor:pointer;
			text-decoration: none;
			padding:11px 10px !important;
			font-size:22px !important;
			background:$coptic-brown;
			color:#fff !important;

		}

	}

}

.side-menu-panel {
	position:fixed;
	margin:0;
	padding:0;
	padding-top:80px;
	left:-200px;
	top:0px;
	background:#333;
	color:$light; 
	height:100%;
	display:block;
	z-index:99;
	width:200px;
	font-size:18px;
	@include transition(left, 100ms, ease-out, 0);
	-webkit-transform: translateZ(0);
	ul {
		padding:0;
	}
	li {
		display:block;
	}
	a {
		display:block;
		padding:10px 5px 10px 30px;
		width:100%;
		color:$light; 

		&:hover {
			text-decoration: none;
			background:#444;
		}
	}
	ul ul a {
		padding:7px 5px 7px 50px;
		font-size:16px;
	}
	.fa {
		margin:0 10px 0 0;
	}
}
.side-menu-panel.shown {
	left:0;
}
.headroom {
    transition: transform 00ms linear;
}
.headroom--pinned {
    transition: transform 200ms linear;
    transform: translateY(0%) translateZ(0);
}
.headroom--unpinned {
    transform: translateY(-100%) translateZ(0);
}
.header-hidden.headroom--pinned {
	position:absolute;
	top:0;
	transition: transform 200ms linear;
	transform: translateY(00%) translateZ(0);
}
.header-hidden.headroom--unpinned {
	position:absolute;
	top:0;
	transform: translateY(00%) translateZ(0);
}
input::-webkit-input-placeholder {
   color: #aaa;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #aaa;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;  
}

input:-ms-input-placeholder {  
   color: #aaa;  
}

/*
 * Footer 
 */
footer {
	clear:both;
	background-color:$coptic-brown;
	color:$light;
	padding:30px 0;
	text-align:center;
	width:100%;
	position:relative;
	margin-top:150px;


	a {
		color:#EFC17E;
		font-size:14px;


		&:hover {
			color:#AE2124;
		}
		&:visited {
			color:#EFC17E;
		}
		&.github {
			background: url("http://copticscriptorium.org/img/GitHub-Mark-Light-64px.png") no-repeat;
			background-size: 19px 19px;
			padding-left: 25px;
		}
		&.twitter {
			background: url("http://copticscriptorium.org/img/newsociallogo.png") no-repeat;
			background-size: 19px 19px;
			padding-left: 25px;
		}
	}


	.footer-text {
		margin:10px auto;
		display:inline-block;
		width:90%;
		font-size:14px;
		line-height: 20px;

		p {
			color:$light;
			font-size:14px;
		}

		.site-title {
			@include font-accent(26px);
			margin:20px 0 0px 0px;
			padding:0;
		}

		.footer-text-column-1, .footer-text-column-2 {
			margin-top:30px;
		}

		.footer-text-column-1 {
			a {
				color:$light;
				&:hover {
				}
			}
			nav.footer {
				ul {
					padding:0;
					margin:0 0 0 0;
					li {
						display:inline-block;
						a {
							display:block;
							margin:5px;
							padding:20px;
							font-size:22px;
							&:hover {
								color:$light-1;
							}
						}
					}
				}
			}
		}
		.footer-text-column-2 {
			.social-wrap {
				margin:10px 0;
				padding:0;
				span {
					color:$light;
					font-size:24px;
					padding:10px;
					&:hover {
					}
				}
			}
		}
		.copyright {
			clear:both;
			display:block;
			color:$light;
			font-size:14px;
			margin:30px 0;
			a {
				color:$light;
				&:hover {
					text-decoration:none;
				}

			}
		}
	}
	.footer-logos-wrap {
		width:100%;
		text-align:center;
		margin:0 auto;
		.footer-logo {
			display:inline-block;
			width:6%;
			height:auto;
			margin:5px;

			&.neh-logo {
				width:30%;
			}
		}
	}
}

/*
 * Styles for Dropdowns
 */ 

.dropdown {
	position:relative;

	.dropdown-head {
		cursor:pointer;
		label, .dropdown-arrow {
			cursor:pointer;
		}
	}

	.dropdown-panel {
		display:none;
		position:absolute;
		top:0;
		left:0;
	}
	.dropdown-panel.lowered {
		display:block !important;
	}
}
::-webkit-input-placeholder {
   color: $dark-1;
}
:-moz-placeholder { 
   color: $dark-1;
}
::-moz-placeholder {
   color: $dark-1;
}
:-ms-input-placeholder {  
   color: $dark-1;
}

// modal styles
#loading_modal {
	position:fixed;
	top:0px;
	left:0;
	z-index:10000;
	width:100%;
	height:100%;
	background:$parchment-trans;

	.loading-modal-inner {
		display:block;
		width:50%;
		min-width:100px;
		margin:0 auto;
		text-align:center;
		padding-top:150px;
		img {
			margin:0 auto;
		}
		span {
			margin-top:60px;
			display:inline-block;
			font-size:64px;
			color:$coptic-brown;
		}
	}
}
