{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
  Search - Coptic Scriptorium
{% endblock %}
{% block content %}
  <div class="search-container">
    <div class="search-column search-results">
      <div class="fulltext_results">
        {# No search term entered #}
        {% if not query_text and not active_facets %}
          <p class="ft_explanation">No search term entered. You can use the filters to the right to explore the texts or enter a search term in the box above.</p>
          <p class="ft_explanation">You may enter text both in English and Coptic (activate the Coptic keyboard by clicking on "Preferences").</p>
          <p class="ft_explanation">You can also use the search box to access URNs such as "urn:cts:copticLit:misc.acts_pilate.lacau_ed:9"</p>
        {% endif %}

        {# Search results #}
        <h4 class="explanation">
          {{ totalHits }} result{% if totalHits != 1 %}s{% endif %}
          {# plural s #}
          {% if not has_results %}
          <a class="start-over" href="/search">click here</a> to start over. Use "✖" to remove the search term or filter. You can also enable fuzzy matches in the Preferences. 
          {% endif %}
          {% if query_text %}
            for <span class="meta_pair">Query</span> = <span class="meta_pair">{{ query_text }} <a class="remove_facet" href="{{ remove_query_url }}">✖</a></span>
          {% endif %}
          {% if has_results and active_facets %}
            {% for facet, values in active_facets.items %}
              {% for value in values %}
                 &nbsp; 
                <span class="meta_pair">{{ facet|remove_dot_prefix|title }}</span> =
                <span class="meta_pair">
                  {{ value|striptags }} ({{ facet_counts|get_nested:facet|get_nested:value }})
                  <a class="remove_facet" href="{{ remove_facet_urls|get_nested:facet|get_nested:value }}">✖</a> &nbsp; 
                </span>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </h4>
        {% if has_results %}
          {# Top pagination #}
          {% include "includes/pagination.html" %}

          {% for result in fulltext_results %}
            <div class="search-results-row">
              <a href="/texts/{{ result.corpus_slug }}/{{ result.slug }}/analytic#text={{ query_text|urlencode }}" class="text-link">
                <h4><span class="text-title">{{ result.title }}</span></h4>
                <div class="result">
                  <div>
                    <span class="text-author">{{ result.author }}</span>
                    <span class="text-urn">{{ result.urn }}</span>
                  </div>
                  {% for field, hits in result.hits.items %}
                    <div>
                      <span class="fullt_text_field_hit">Found in {{ field|safe }}:</span>
                      {% if hits|isinstance:'str' %}
                        {{ hits|safe }}
                      {% else %}
                        {{ hits|join:', '|safe }}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </a>
            </div>
          {% endfor %}

          {# Bottom pagination #}
          {% include "includes/pagination.html" %}
        {% endif %}
      </div>
    </div>
    {# Sidebar Facets Display #}
    {% if facets %}
      <div class="search-column search-params">
        <h4>Refine your search</h4>
        {% for facet in facets %}
          <div class="facet">
            <div class="search-item">{{ facet.name }}</div>
            <ul class="expandable-list">
              {% for value in facet.values %}
                <li>
                  {% if value.is_active %}
                    {{ value.value|striptags }} ({{ value.count }})
                    <a class="remove_facet" href="{{ value.remove_url }}">✖</a>
                  {% else %}
                    <a href="{{ value.add_url }}">{{ value.value|striptags }} ({{ value.count }})</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
