<header class="nav-container">
    <div class="nav">
        <div class="nav-links">
            <div class="nav-item">
                <a href="/">
                    <span class="tool-text">home</span>
                </a>
            </div>
            {% for field in search_fields %}
            <div class="nav-item">
                <a href="/index/{{field.title}}/">
                    <span class="tool-text"> {{field.title}} </span>
                </a>
            </div>
            {% endfor %}
            <div class="nav-item">
                <a href="/search">
                    <span class="tool-text"> Advanced Search </span>
                </a>
            </div>
        </div>

        <!-- Search by text, year, author, country of origin, hagiography, bible texts-->
        <form name="search_box" class="search-bar" action="/search">
            <input type="text"
                   name="text"
                   placeholder="Enter URN or query (&quot;besa&quot;, &quot;to aphthonia&quot;, ...)">
            <svg width="28" height="28" viewBox="0 0 490 490" class="search-icon" onclick="document.querySelector('.search-bar').submit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="490" height="490">
                    <path fill="none" stroke="#555" stroke-width="36" stroke-linecap="round" d="m280,278a153,153 0 1,0-2,2l170,170m-91-117 110,110-26,26-110-110"/>
                </svg>
            </svg>
        </form>
    </div>
</header>
