<header>
    <div class="header-row header-row-bottom search-tools-wrap">

        <!-- Search by text, year, author, country of origin, hagiography, bible texts-->
        <div class="search-tools">
            {% for field in search_fields %}
            <div class="{{field.title | lower}}-tool-wrap tool-wrap">
                <div class="{{field.title | lower}}-tool tool-head">
                    <span class="tool-text"> {{field.title}} </span>
                </div>
                <div class="{{field.title | lower}}-tool-panel tool-panel hidden">
                    {% for value in field.values %}
                    <div class="tool-search-item" data-searchid="{{value.id}}">
                        <span>{{value}}</span>
                    </div>
                    {% endfor %}
                    <span class="fa fa-close raise-dropdowns"></span>
                </div>
            </div>
            {% endfor %}

            <div class="tool-wrap">
                <div class="tool-head" style="padding: 0px;">
                    <form name="urn_form" class="urn-form" onsubmit="urn_submit()" style="padding-left: 10px; margin: 0px; min-width:200px; float:none">
                        <span class="fa fa-chevron-right" onclick="urn_submit()" style="vertical-align: middle; padding: 10px !important; margin-top: 5px; height: 27px; background-color: inherit;"></span>
                        <input type="text" class="urn-text" placeholder="Enter URN..." style="width: 75%";>
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>
