{% extends "base.html" %}

{% block content %}

<h1 style="font-size:2.2em;margin:40px 0;"><strong>Coptic SCRIPTORIUM Corpora &amp; URN Resolver</strong></h1>

<div class="sidebar">
    <h3><strong>Quick start</strong></h3>
    <ul>
        <li>Read works by <a href="/search?author=Shenoute">Shenoute of Atripe</a></li>
        <li>Explore different views of <a href="/search?author=Besa">Besa's</a> letter to Aphthonia: <br/> [<a href="/texts/besa_letters/to-aphthonia/analytic">analytic</a>] [<a href="/texts/besa_letters/to-aphthonia/dipl">diplomatic</a>] [<a href="/texts/besa_letters/to-aphthonia/norm">versified</a>]</li>
        <li>Read books of the Old and New Testament:
            <ul>
                <li>The <a href="/search?text=Ruth">Book of Ruth</a> (<a href="/texts/old-testament/">OT</a>)</li>
                <li>The <a href="/texts/gospel_of_mark/">Gospel of Mark</a> (<a href="/texts/new-testament/">NT</a>)</li>
            </ul>
        </li>
        <li>Coptic Saints' Lives:
            <ul>
                <li>The Martyrdom of <a href="/texts/victor/">Victor the General</a></li>
                <li>The Life of <a href="/texts/lifecyrus/">Cyrus</a></li>
            </ul>
        </li>
		<li>Look for documents mentioning people or places:
			<ul>
				<li>Documents mentioning <a href="/search?places=Alexandria">the city of Alexandria</a> <br/>or the patriarch <a href="/search?people=Abraham">Abraham</a></li>
				<li>Browse complete lists of mentioned <a href="/index/people/">people</a> or <a href="/index/places/">places</a></li>
			</ul>
		</li>
        <br>
        <li>Browse <a href="/index/corpus/">all works</a> or <a href="/index/author/">all authors</a></li>
    </ul>
</div>

<h3><strong>About this interface</strong></h3>

<p>
    Coptic SCRIPTORIUM provides Coptic texts for reading, analysis, and complex searches. The texts are
    citable and accessible through stable <a href="http://en.wikipedia.org/wiki/Uniform_resource_name" target="_blank">URNs</a>,
    such as urn:cts:copticLit:shenoute.fox for Shenoute's work <i>Not Because a Fox Barks</i>. This
    application will provide the most recent version of our documents in the formats currently available
    for each text.  <strong>If you know the URN for the material you seek, please enter it in
    the box above. You may also find documents by using the filters on the menu
    above or using the search box to look for authors, works or manuscripts.</strong></p>

<p>If you wish to read Coptic texts, you can view individual documents online
    (in HTML) in various visualizations. We also provide links to our corpora in our <a href="https://annis.copticscriptorium.org/annis/scriptorium" target="_blank">search tool ANNIS</a>, as well as data files in <a href="http://www.tei-c.org/" target="_blank">TEI XML</a>, <a href="http://www.sfb632.uni-potsdam.de/en/paula-en.html" target="_blank">PAULA XML</a>, and  <a href="http://www.sfb632.uni-potsdam.de/annis/" target="_blank">ANNIS</a> formats.
    This web application provides the most recent version of the data. Previous versions are available
    on GitHub. </p>
<p>Documentation beneath the text provides information about it, including the
    version and date of publication online.    </p>
<h3><strong>Resources</strong></h3>
<p><a href="http://download/tools/scriptorium_tagset_documentation.pdf" title="part of speech tagset" target="_blank">Documentation on our part of speech tagging</a></p>
<p><a href="https://copticscriptorium.org/citation-guidelines" target="_blank">Citation guidelines</a> for citing these documents</p>

<p><a href="https://www.copticscriptorium.org/ANNIS-tips.html" title="example queries" target="_blank">Example queries for ANNIS</a> search tool.</p>
<p>A video <a href="https://www.youtube.com/watch?v=gGZWbPzcJPA" title="March 2015 ANNIS tutorial" target="_blank">tutorial</a>, especially for ANNIS.</p>
<p> A brief <a href="https://www.youtube.com/watch?v=JZW6oWHbwQU" title="Fall 2014 tutorial" target="_blank">video tutorial explaining the texts, data model, and basic queries</a>
    from Fall 2014.</p>

{% endblock %}
