<div class="container">

  <a href="http://copticscriptorium.org/" class="logo1"><img src="http://copticscriptorium.org/images/logo.png" width="157" alt=""></a>
  <a href="http://copticscriptorium.org/" class="logo2"><img src="http://copticscriptorium.org/images/logo2.png" width="154" alt=""></a>

  <nav id="main-menu">
    <ul>
      <li><a href="http://copticscriptorium.org/" class="m-home">Home</a></li>
      <li><a href="http://copticscriptorium.org/tools" class="m-tools">Tools</a></li>
      <li><a href="http://data.copticscriptorium.org" class="m-corpora">Corpora</a></li>
      <li><a href="http://copticscriptorium.org/documentation" class="m-documentation">Documentation</a></li>
      <li><a href="http://blog.copticscriptorium.org" class="m-news">News</a></li>
      <li><a href="http://copticscriptorium.org/projects" class="m-projects">Projects</a></li>
      <li><a href="http://copticscriptorium.org/about" class="m-about">About</a></li>
    </ul>
  </nav>

</div>