<header id="header">
  <div class="container">

    <a href="https://copticscriptorium.org/" class="logo1"><img src="https://copticscriptorium.org/images/logo.png" width="157" alt=""></a>
    <a href="https://copticscriptorium.org/" class="logo2"><img src="https://copticscriptorium.org/images/logo2.png" width="154" alt=""></a>

    <nav id="main-menu">
      <ul>
        <li><a href="https://copticscriptorium.org/" class="m-home">Home</a></li>
        <li><a href="https://copticscriptorium.org/tools" class="m-tools">Tools</a></li>
        <li><a href="https://data.copticscriptorium.org" class="m-corpora">Corpora</a></li>
        <li><a href="https://copticscriptorium.org/documentation" class="m-documentation">Documentation</a></li>
        <li><a href="https://blog.copticscriptorium.org" class="m-news">News</a></li>
        <li><a href="https://copticscriptorium.org/projects" class="m-projects">Projects</a></li>
        <li><a href="https://copticscriptorium.org/about" class="m-about">About</a></li>
      </ul>
    </nav>

  </div>
</header>