<!-- Preferences dialog -->
<div id="preferences-modal" class="modal">
  <div class="modal-content">
    <h3>Search Preferences</h3>
    <div class="preference-item">
      <label><input type="checkbox" id="virtual-keyboard-toggle" />Enable Coptic virtual Keyboard</label>
      <label><input type="checkbox" id="fuzzy-search-toggle" />Enable fuzzy search(some tolerance for typos)</label>
    </div>
    <div>
      <a href="https://help.keyman.com/keyboard/coptic_qwerty/2.2/coptic_qwerty" target="_blank">Coptic Qwerty Keyboard Instructions <span>💬</span></a>
    </div>
    <div>
      <a href="https://help.keyman.com/keyboard/coptic_greek/2.3/coptic_greek" target="_blank">Coptic Greek Keyboard Instructions <span>💬</span></a>
    </div>
    <button id="save-preferences-button">Save</button>
  </div>
</div>
<button id="preferences-button"><i>⚙️</i> Preferences</button>
