<section class="project-description entry-text" ng-show="should_show_description()">

    <h1 class="title">Coptic Scriptorium URN Resolver -- BETA version</h1>

    <p class="description-text">
        Coptic SCRIPTORIUM provides Coptic texts for reading, analysis, and complex searches. The texts are
        citable and accessible through stable <a href="http://en.wikipedia.org/wiki/Uniform_resource_name">URNs</a>,
        such as urn:cts:copticLit:shenoute.fox for Shenoute's work <i>Not Because a Fox Barks</i>. This
        application will provide the most recent version of our documents in the formats currently available
        for each text. </p>

    <p class="description-text">If you wish to read Coptic texts, you can view individual documents online
        (in HTML). We provide HTML visualizations of texts in diplomatic transcriptions (when manuscript
        information is available) and normalized Coptic text with an English translation (when that
        translation is available). We also provide an analytical visualization of each text with the Coptic,
        English (when available), and part of speech information for the Coptic. <a
                href="download/tools/scriptorium_tagset_documentation.pdf" target="_blank"
                title="part of speech tagset">Documentation on our part of speech tagging</a> explains the
        part of speech abbreviations and our methodology.</p>

    <p class="description-text">Documentation beneath the text provides information about it, including the
        version and date of publication online.</p>

    <p class="description-text"><strong>If you know the URN for the material you seek, please enter it in
        the box above.</strong></p>

    <p class="description-text"><strong>You may also find documents by using the filters on the menu
        above.</strong></p>

    <p class="description-text">To search and query our texts, you may go directly to our <a
            href="https://corpling.uis.georgetown.edu/annis/scriptorium" target="_blank">search and
        visualization tool ANNIS</a>. If you use the filters or URN resolver in this webapplication, you
        will also see an <a href="http://www.sfb632.uni-potsdam.de/annis/" title="ANNIS">ANNIS</a> button
        underneath any corpus name; click on it to be taken directly to our search and visualization tool.
        <strong>We have provided some <a href="http://www.copticscriptorium.org/ANNIS-tips.html"
                                         title="example queries" target="new">example queries for ANNIS to
            get you started</a>. Amir Zeldes also led a <a
                href="https://www.youtube.com/watch?v=gGZWbPzcJPA" title="March 2015 ANNIS tutorial"
                target="_blank">tutorial at our March 2015 workshop</a>, and a brief <a
                href="https://www.youtube.com/watch?v=JZW6oWHbwQU" title="Fall 2014 tutorial"
                target="_blank">video tutorial explaining the texts, data model, and basic queries</a>
            exists from Fall 2014. </strong></p>

    <p class="description-text">
        Corpora are available for download on <a
            href="https://github.com/CopticScriptorium/corpora/releases/latest" target="_blank">GitHub</a>
        in <a href="http://www.tei-c.org/">TEI XML</a>, <a
            href="http://www.sfb632.uni-potsdam.de/en/paula-en.html">PAULA XML</a>, and relANNIS for use
        with the <a href="http://www.sfb632.uni-potsdam.de/annis/">ANNIS</a> corpus search software.
        This web application provides the most recent version of the data. Previous versions are available
        on GitHub.</p>

    <p class="description-text"><strong>Please note: our corpus of documentary papyri from papyri.info is
        not currently available through this service.</strong> You can <a
            href="https://corpling.uis.georgetown.edu/annis/scriptorium#_c=ZG9jLnBhcHlyaQ" target="_blank">search
        and visualize the papyri through ANNIS</a>. The papyri will be added to this service in future
        versions.</p>
</section>
