{% extends "base.html" %}
{% load custom_filters %}
{% block title %}{{ text.title }} - Coptic Scriptorium{% endblock %}
{% block custom_css %}<style>{{visualization.css | safe}}</style>{% endblock %}

{% block content %}
    <section class="text-list list">
        <div class="text-work">
            <div class="text-subwork single-header">
                <a href="/texts/{{ text.corpus.slug }}/{{ text.slug }}" class="item-title-wrap">
                    <span class="text-item item-title">{{ text.title }}</span>
                </a>
                <a href="/" class="close-selected-text">
                    <span class="fa fa-close"></span>
                </a>
                <div class="html-wrap version-wrap page-tabs">
                    <!-- text.html -->
                    {% for visualization in visualizations %}
                            <a href="/texts/{{ text.corpus.slug }}/{{ text.slug }}/{{ visualization.visualization_format.slug }}"
                            class="text-item {{ visualization.visualization_format.slug }}">
                                <span>{{ visualization.visualization_format.button_title }}</span>
                            </a>
                    {% endfor %}
                    {% if text.corpus.github_tei %}
                        <a href="{{ text.corpus.github }}/{{ text.corpus.github_tei }}"
                           class="text-item"
                           target="_blank">
                            <span>TEI</span>
                            <span class="fa fa-external-link"></span>
                        </a>
                    {% endif %}
                    {% if text.corpus.github_relannis %}
                        <a href="{{ text.corpus.github }}/{{ text.corpus.github_relannis }}"
                           class="text-item"
                           target="_blank">
                            <span>ANNIS</span>
                            <span class="fa fa-external-link"></span>
                        </a>
                    {% endif %}
                    {% if text.corpus.github_paula %}
                        <a href="{{ text.corpus.github }}/{{ text.corpus.github_paula }}"
                           class="text-item"
                           target="_blank">
                            <span>PAULA</span>
                            <span class="fa fa-external-link"></span>
                        </a>
                    {% endif %}
                    <a href="/{{ text.edition_urn }}/annis"
                       class="text-item annis"
                       target="_blank">
                        <span>Search ANNIS</span>
                        <span class="fa fa-external-link"></span>
                    </a>
                </div>
                <div class="html-wrap version-wrap page-tabs" style="display: block;">
                    {% if text.previous %}
                        <a href="/texts/{{ text.corpus.slug }}/{{ text.previous }}/{{ format }}"
                           class="text-item">
                            <span>Previous</span>
                        </a>
                    {% endif %}
                    {% if text.next %}
                        <a href="/texts/{{ text.corpus.slug }}/{{ text.next }}/{{ format }}"
                           class="text-item">
                            <span>Next</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="text" class="selected-text-wrap page-content">
        <div class="text-format">
            <h3 class="subtitle">{{ visualization.visualization_format.title }}</h3>
            {% if 'Analytic' in visualization.visualization_format.title %} 
                <div id="viztoolbar">{% include "vizbar.html" %}</div>
            {% endif %}
            <div class="coptic-text html">{{ visualization.html_live | safe }}</div>
        </div>
        <div class="end-note">{{ text.endnote }}</div>
        <div id="information" class="meta-information">
            <h3 class="subtitle">ANNIS Metadata</h3>
            {% for meta_name, meta_values in text.text_meta.all|groupby:"name" %}
            <div class="meta-item">
                <span class="meta-label">{{ meta_name }}:</span>
                <span class="meta-value">
                    {% for value in meta_values %}
                        {{ value.value | fix_html | safe }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
        {% endfor %}
        </div>
        <div class="citation-help">
            <h3 class="subtitle">Cite this Document</h3>
            <p>
                When citing a corpus or document from Coptic SCRIPTORIUM, please include the relevant URN(s)
                (provided below) in all citations. On this site, these URNs will resolve to the latest edition
                of our data. We also encourage researchers to save visualizations they use, download query
                results from ANNIS, and save information from document metadata.
            </p>
            <p>
                Use the following model to cite this document. Our full <a href="https://copticscriptorium.org/citation-guidelines" target="new">citation guidelines</a>
                page provides more models.
            </p>
            <p>
                <span class="label">First citation:</span>
            </p>
            <p>
                Author, <em>Ancient title</em> [chapter.verse if available], ed. [annotators], trans.
                [translation]. {{ text.edition_urn }}. [version number], [date].
                https://data.copticscriptorium.org/{{ text.edition_urn }}.
            </p>
            <p></p>
            <p>
                <span class="label">Subsequent citations:</span>
            </p>
            <p>
                Author, <em>Ancient title (abbreviated)</em> [chapter.verse if available],
                {{ text.edition_urn }}.
            </p>
            <p>
                <span class="label">Document Edition:</span>
                <a href="/{{ text.edition_urn }}" target="_blank">{{ text.edition_urn }}</a>
            </p>
            <p>
                <span class="label">Work:</span>
                <a href="/{{ text.corpus_urn }}" target="_blank">{{ text.corpus_urn }}</a>
            </p>
            <p>
                <span class="label">Text Group:</span>
                <a href="/{{ text.textgroup_urn }}" target="_blank">{{ text.textgroup_urn }}</a>
            </p>
            <p>
                The following links will direct you to the latest versions of data visualizations of the
                document.
            </p>
            {% for visualization in text.html_visualizations.all %}
                <p>
                    <span class="label">{{ visualization.visualization_format.title }} HTML:</span>
                    <a href="/{{ text.edition_urn }}/{{ visualization.visualization_format.slug }}/html"
                       target="_blank">https://data.copticscriptorium.org/{{ text.edition_urn }}/{{ visualization.visualization_format.slug }}/html</a>
                </p>
            {% endfor %}
            {% if text.corpus.github_tei or text.corpus.github_paula or text.corpus.github_relannis %}
                <p>The following links will direct you to the latest versions of the data for download.</p>
            {% endif %}
            {% if text.corpus.github_tei %}
                <p>
                    <span class="label">TEI XML:</span>
                    <a href="/{{ text.edition_urn }}/tei/xml" target="_blank">https://data.copticscriptorium.org/{{ text.edition_urn }}/tei/xml</a>
                </p>
            {% endif %}
            {% if text.corpus.github_paula %}
                <p>
                    <span class="label">Paula XML:</span>
                    <a href="/{{ text.edition_urn }}/paula/xml" target="_blank">https://data.copticscriptorium.org/{{ text.edition_urn }}/paula/xml</a>
                </p>
            {% endif %}
            {% if text.corpus.github_relannis %}
                <p>
                    <span class="label">relANNIS:</span>
                    <a href="/{{ text.edition_urn }}/relannis" target="_blank">https://data.copticscriptorium.org/{{ text.edition_urn }}/relannis</a>
                </p>
            {% endif %}
            <p>
                The following link will direct you to the latest version of the corpus available for search and
                querying in ANNIS:
            </p>
            <p>
                <span class="label">ANNIS UI:</span>
                <a href="/{{ text.edition_urn }}/annis" target="_blank">https://data.copticscriptorium.org/{{ text.edition_urn }}/annis</a>
            </p>
        </div>
    </section>
{% endblock %}